/* main.css - Estilos globales, tipografías y reset */
:root{
    background-color:#1C1C1C;
  --bg: url(../assets/icons/fondoMainXV2.png) no-repeat 10% center/cover;
  --text:#ffffff;
}

*{box-sizing:border-box;margin:0;padding:0}
html,body,#app{height:100%}
body{font-family:system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif;background:var(--bg);color:var(--text);overflow-x:hidden;}

*{
    transition:all .3s ease;
    font-family: 'Staatliches', cursive;
    letter-spacing:0.05em;
    color:var(--text);
}

#mainTitle,
#opciones-temas {
    display:flex;
    flex-direction:column;
    padding:0.8rem 1rem;
    max-width:720px;
    width:min(100%,720px);
    margin-left:53%;
}

#Game-container {
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items:center;
    width:min(100%,1120px);
    margin:0 auto;
    padding:1rem 0;
}

#menu-row {
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    justify-content:center;
    width:100%;
}

.menu-card {
    display:flex;
    flex-direction:column;
    gap:0.8rem;
    padding:0.8rem 1rem;
    width:min(100%,360px);
    border-radius:18px;
}

#mode-options,
#menu-Dificultad div {
    display:flex;
    flex-wrap:wrap;
    gap:0.8rem;
}

#menu-Dificultad button, #mode-options button {
    margin:0.5rem 0;
    background-color:#FF6204;
    color:#ffffff;
    font-size:0.9rem;
    border-radius:8px;
    padding:0.5rem 1rem;
    cursor:pointer;
    margin-right: 1.2rem;
}

#menu-row {
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
    justify-content:center;
    margin-left: 73%;
}

#theme-title {
    display:flex;
    flex-direction: column;
    padding:0.8rem 1rem;
    max-width:720px;
    width:min(100%,720px);
    margin:0 auto;
    margin-left: 52%;
}

#theme-section {
    display:flex;
    flex-direction:column;
    gap:1rem;
    align-items:center;
    width:min(100%,1120px);
    margin:0 auto;
    padding:1rem 0;
    margin-left: 1.5%;
}

#opciones-temas {
    width: min(100%,720px);
    display:flex;
    flex-direction: row;
    gap: 0.8rem;
    font-size: 0.9rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 64.5%;
}

#opciones-temas button {
    flex: 1 1 calc(33.333% - 0.8rem);
    min-block-size: 50px;
    padding: 0.9rem 1.3rem;
    border-radius: 16px;
    border: none;

    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#dragon-balls {
    background-color: transparent;
    --dragon-ball-opacity: 0.5;
    background-image:
        linear-gradient(rgba(0,0,0, calc(1 - var(--dragon-ball-opacity, 0.5))), rgba(0,0,0, calc(1 - var(--dragon-ball-opacity, 0.5)))),
        url(../assets/icons/We_Were_Angels_-_Dragon_Balls.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 300%;
}

#z-fighters {
    background-color: transparent;
    --zfighters-opacity: 0.5;
    background-image:
        linear-gradient(rgba(0,0,0, calc(1 - var(--zfighters-opacity, 0.5))), rgba(0,0,0, calc(1 - var(--zfighters-opacity, 0.5)))),
        url(../assets/icons/Team_Universe_7_29.webp);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 100% 350%;
}

#villains {
   background-color: transparent;
    --zfighters-opacity: 0.5;
    background-image:
        linear-gradient(rgba(0,0,0, calc(1 - var(--zfighters-opacity, 0.5))), rgba(0,0,0, calc(1 - var(--zfighters-opacity, 0.5)))),
        url(../assets/icons/j7yuyxc2aj5e1.jpeg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 150% 1000%;
}
